<nav class="navbar navbar-dark bg-primary mt-2">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">{{getTitle()}}</span>
        <form class="d-flex">
            <input 
            name="txtListFiler"
            class="form-control me-2" 
            type="text" 
            placeholder="Filter"
            [(ngModel)]="listFilter"> <!--this line will allow for 2 way data-binding-->
        </form>
    </div>
</nav>

<div class="card mt-3">
    <div class="card-body">
        Filtering by: {{listFilter}} <!--NOW, anything entered into the filter <input> tag above^ will appear here-->
    </div>
</div>

<button class="btn btn-primary" (click)="toggleImages()">
    {{areImagesVisible == true ? 'Hide' : 'Show'}} Images <!--Ternary statements to show hide/show images based on how they're currently displayed-->
</button>

<div class="table-responsive mt-3" *ngIf="products != null && products.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th>Item Image</th>
                <th>Code</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Release Date</th>
                <th>Star Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>
                    <img *ngIf="areImagesVisible"
                    [src] = 'product.imageUrl'
                    [title] = 'product.name | uppercase'
                    [style.width.px] = 'imageWidth'
                    [style.margin.px] = 'imageMargin'/>
                </td>
                <td>{{product.code | lowercase | ConvertToSpaces:'-'}}</td>
                <td>{{product.name | uppercase}}</td> <!--using '|' somethingHere will transform data before the '|' according to what comes after the pipe...can create custom ones too-->
                <td>{{product.price | currency:'EUR':'symbol':'1.2-2'}}</td>
                <td>{{product.releaseDate | date}}</td>
                <td>{{product.starRating}}</td>
            </tr>
        </tbody>
    </table>
    <body>
        <div class="mt-5">
            <p>{{'Hello and welcome to ' + 'Angular data binding'}}</p>
            <p>{{100*80}}</p>
        </div>

        <div class="mt-5">
            <p style.color={{colour}}>This is colured</p>
        </div>

        <div class="mt-5">
            <p [innerText] = "title"></p>
            <p [innerText] = "getTitle()"></p>
            <p [innerText] = "'Hello and welcome to ' + 'Angular data binding'"></p>
            <p [style.color] = "colour">This is coloured</p>
        </div>
    </body>
</div>

