<nav class="navbar navbar-dark bg-primary mt-2">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">{{getTitle()}}</span>
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="filter">
        </form>
    </div>
</nav>

<div class="card mt-3">
    <div class="card-body">
        Filtering by:
    </div>
</div>

<button class="btn btn-primary" (click)="toggleImages()">Show Images</button>

<div class="table-responsive mt-3" *ngIf="products != null && products.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th>Item Image</th>
                <th>Code</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Release Date</th>
                <th>Star Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>
                    <img *ngIf="areImagesVisible"
                    [src] ='product.imageUrl'
                    [title] = 'product.productName'
                    [style.width.px] = 'imageWidth'
                    [style.margin.px] = 'imageMargin'/>
                </td>
                <td>{{product.productCode}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.price}}</td>
                <td>{{product.releaseDate}}</td>
                <td>{{product.starRating}}</td>
            </tr>
        </tbody>
    </table>
    <body>
        <div class="mt-5">
            <p>{{'Hello and welcome to ' + 'Angular data binding'}}</p>
            <p>{{100*80}}</p>
        </div>

        <div class="mt-5">
            <p style.color={{colour}}>This is colured</p>
        </div>

        <div class="mt-5">
            <p [innerText] = "title"></p>
            <p [innerText] = "getTitle()"></p>
            <p [innerText] = "'Hello and welcome to ' + 'Angular data binding'"></p>
            <p [style.color] = "colour">This is coloured</p>
        </div>
    </body>
</div>

